* text=auto !eol
action/confirmer_signature.php -text
action/editer_petition.php -text
action/editer_signature.php -text
action/relancer_signature.php -text
action/supprimer_signature.php -text
action/traiter_lot_signature.php -text
action/valider_signature.php -text
balise/formulaire_signature.php -text
base/petitions.php -text
formulaires/activer_petition_article.html -text
formulaires/activer_petition_article.php -text
formulaires/signature.html -text
formulaires/signature.php -text
lang/paquet-petitions.xml -text
lang/paquet-petitions_ar.php -text
lang/paquet-petitions_en.php -text
lang/paquet-petitions_it.php -text
lang/paquet-petitions_sk.php -text
lang/petitions.xml -text
lang/petitions_ar.php -text
lang/petitions_ast.php -text
lang/petitions_ay.php -text
lang/petitions_bg.php -text
lang/petitions_br.php -text
lang/petitions_bs.php -text
lang/petitions_ca.php -text
lang/petitions_co.php -text
lang/petitions_cpf.php -text
lang/petitions_cpf_hat.php -text
lang/petitions_cs.php -text
lang/petitions_da.php -text
lang/petitions_de.php -text
lang/petitions_el.php -text
lang/petitions_en.php -text
lang/petitions_en_hx.php -text
lang/petitions_eo.php -text
lang/petitions_es.php -text
lang/petitions_es_co.php -text
lang/petitions_eu.php -text
lang/petitions_fa.php -text
lang/petitions_fi.php -text
lang/petitions_fon.php -text
lang/petitions_fr.php -text
lang/petitions_fr_biblio.php -text
lang/petitions_fr_tu.php -text
lang/petitions_gl.php -text
lang/petitions_hac.php -text
lang/petitions_he.php -text
lang/petitions_hr.php -text
lang/petitions_hu.php -text
lang/petitions_id.php -text
lang/petitions_is.php -text
lang/petitions_it.php -text
lang/petitions_it_fem.php -text
lang/petitions_ja.php -text
lang/petitions_km.php -text
lang/petitions_kr.php -text
lang/petitions_lb.php -text
lang/petitions_ling.php -text
lang/petitions_lt.php -text
lang/petitions_my.php -text
lang/petitions_nap.php -text
lang/petitions_nb.php -text
lang/petitions_ne.php -text
lang/petitions_nl.php -text
lang/petitions_no.php -text
lang/petitions_oc_auv.php -text
lang/petitions_oc_gsc.php -text
lang/petitions_oc_lms.php -text
lang/petitions_oc_lnc.php -text
lang/petitions_oc_ni.php -text
lang/petitions_oc_ni_la.php -text
lang/petitions_oc_prv.php -text
lang/petitions_oc_va.php -text
lang/petitions_pl.php -text
lang/petitions_pt.php -text
lang/petitions_pt_br.php -text
lang/petitions_rn.php -text
lang/petitions_ro.php -text
lang/petitions_roa.php -text
lang/petitions_ru.php -text
lang/petitions_sk.php -text
lang/petitions_sq.php -text
lang/petitions_sv.php -text
lang/petitions_tr.php -text
lang/petitions_uk.php -text
lang/petitions_vi.php -text
lang/petitions_wo.php -text
lang/petitions_zh.php -text
/petitions_administrations.php -text
/petitions_autoriser.php -text
/petitions_fonctions.php -text
/petitions_options.php -text
/petitions_pipelines.php -text
prive/configurer/petitionner.html -text
prive/modeles/signature-actions-moderer.html -text
prive/modeles/signature.html -text
prive/squelettes/contenu/controler_petition.html -text
prive/squelettes/hierarchie/controler_petition.html -text
prive/squelettes/inclure/boutons-filtres-statut-signature.html -text
prive/squelettes/navigation/controler_petition.html -text
prive/style_prive_plugin_petitions.html -text
prive/themes/spip/images/petition-16.png -text
prive/themes/spip/images/petition-24.png -text
prive/themes/spip/images/petition-32.png -text
prive/themes/spip/images/petition-add-16.png -text
prive/themes/spip/images/petition-add-24.png -text
prive/themes/spip/images/petition-add-32.png -text
prive/themes/spip/images/petition-bg-item-64.png -text
prive/themes/spip/images/petition-del-16.png -text
prive/themes/spip/images/petition-del-24.png -text
prive/themes/spip/images/petition-del-32.png -text
prive/themes/spip/images/petition-edit-16.png -text
prive/themes/spip/images/petition-edit-24.png -text
prive/themes/spip/images/petition-edit-32.png -text
prive/themes/spip/images/petition-new-16.png -text
prive/themes/spip/images/petition-new-24.png -text
prive/themes/spip/images/petition-new-32.png -text
prive/themes/spip/images/signature-statut-poubelle-24.png -text
prive/themes/spip/images/signature-statut-prop-24.png -text
prive/themes/spip/images/signature-statut-publie-24.png -text
prive/themes/spip2/images/petition-16.png -text
prive/themes/spip2/images/petition-24.png -text
prive/themes/spip2/images/petition-add-16.png -text
prive/themes/spip2/images/petition-add-24.png -text
prive/themes/spip2/images/petition-bg-item-64.png -text
prive/themes/spip2/images/petition-del-16.png -text
prive/themes/spip2/images/petition-del-24.png -text
prive/themes/spip2/images/petition-edit-16.png -text
prive/themes/spip2/images/petition-edit-24.png -text
prive/themes/spip2/images/petition-new-16.png -text
prive/themes/spip2/images/petition-new-24.png -text
prive/themes/spip2/images/signature-statut-poubelle-24.png -text
prive/themes/spip2/images/signature-statut-prop-24.png -text
prive/themes/spip2/images/signature-statut-publie-24.png -text
