* text=auto !eol
action/confirmer_signature.php -text
action/editer_signature.php -text
action/relancer_signature.php -text
action/supprimer_signature.php -text
action/valider_signature.php -text
balise/formulaire_signature.php -text
base/petitions.php -text
base/petitions_upgrade.php -text
formulaires/configurer_petition_article.html -text
formulaires/configurer_petition_article.php -text
formulaires/signature.html -text
formulaires/signature.php -text
images/petition-16.png -text
images/petition-24.png -text
images/petition-bg-item.png -text
images/signature-statut-poubelle-24.png -text
images/signature-statut-prop-24.png -text
images/signature-statut-publie-24.png -text
lang/petitions_fr.php -text
/petitions_autoriser.php -text
/petitions_options.php -text
/petitions_pipelines.php -text
/plugin.xml -text
prive/configurer/petitionner.html -text
prive/exec/controle_petition.html -text
prive/listes/controler_petition.html -text
prive/listes/controler_petition_fonctions.php -text
prive/listes/inc-boutons-filtres-statut-signature.html -text
prive/modeles/signature-actions-moderer.html -text
prive/modeles/signature.html -text
prive/navigation/controle_petition.html -text
prive/style_prive_plugin_petitions.html -text
public/petitions.php -text
